# TEMPORARY bring-up diagnostics
service degas_diag /vendor/bin/sh /vendor/bin/degas-diag.sh
    class core
    user root
    group root system log readproc
    seclabel u:r:su:s0
    oneshot

on late-fs
    start degas_diag
