<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CONNECTIVITY_USE_RESTRICTED_NETWORKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".display.ColorService"
            android:permission="ColorService">
        </service>

        <service
            android:name=".display.AodService"
            android:permission="AodService">
        </service>

        <service
            android:name=".display.RefreshRateHealService"
            android:permission="RefreshRateHealService">
        </service>

        <service
            android:name=".telephony.ImsHealService"
            android:permission="ImsHealService">
        </service>

        <service
            android:name=".touch.TouchGestureService"
            android:permission="TouchGestureService">
        </service>
    </application>
</manifest>

